div, span, :where(td):where(.error) {
  color: #FF0000;
  border: 1px dashed red;
}

:is(div, span) {
  color: rgba(255 0 0 / 1.0);
  border-color: #F00;
  border-style: dashed;
  border-width: 1px;
}
