@charset "utf-16";
*, *:before, *:after {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}
body {
  max-width: 100%;
}
body,
button {
  font-family: "Lato", sans-serif;
}
.loading {
  opacity: 0.5;
}
h1 {
  margin: 0px;
  font-family: "Melting Dessert", sans-serif;
  color: #C00000;
  span {
    font-size: 1rem;
  }
}
.title {
  display: flex;
  justify-content: space-between;
  max-width: 1246px;
  margin: 0 auto;
  padding: 1rem 1rem 0rem 1rem;
  img {
    width: 159px;
    height: 40px;
  }
}
.title.dark h1 {
  color: #00C000;
}
.left,
.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
select,
button {
  margin: 0px;
  font-size: 0.75rem;
}
.container {
  display: flex;
  width: 100%;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  padding: 0rem 1rem;
  gap: 1rem;
  > * {
    width: 600px;
    max-width: 50%;
    height: 100% !important;
  }
}
.half {
  display: flex;
  flex-direction: column;
}
pre {
  height: 100%;
  background: var(--background);
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
  padding: 1rem;
  font-family: monospace;
  white-space: pre-wrap;
  word-break: break-all;
  overflow: auto;
  resize: none;
  transition: 0s;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
  font-size: 0.7rem;
  > * {
    flex-grow: 1;
    background: var(--background);
    border-radius: 10px;
    padding: 0.55rem 0rem;
    text-align: center;
  }
}
.controls {
  display: flex;
  justify-content: space-around;
  background: var(--background);
  border-radius: 0px 0px 10px 10px;
  > button {
    flex-grow: 1;
    border-right: 1px solid var(--background);
    border-radius: 0px;
    padding: 0.4rem;
    font-size: 0.65rem;
    &:first-of-type {
      border-radius: 0px 0px 0px 10px;
    }
    &:last-of-type {
      border: 0px;
      border-radius: 0px 0px 10px 0px;
    }
  }
}
.stupid,
.stupid * {
  font-family: 'Melting Dessert', sans-serif !important;
  button {
    font-size: 1rem !important;
  }
}
#codemirror {
  .cm-editor {
    background: var(--background-alt);
    border-radius: 10px;
  }
  .cm-focused { outline: none; }
  .cm-cursor { border-color: #000; }
  .cm-gutters { background: var(--background); }
  .cm-activeLineGutter { background: var(--border); }
  .cm-activeLine { background-color: #CCEEFF87; }
  .cm-scroller { border-radius: 10px; }
  .hljs { background: var(--background); }
}
#codemirror.dark {
  ::selection,
  ::-moz-selection {
      background: var(--border) !important;
      color: #FFF;
      text-shadow: none;
  }
  .cm-cursor { border-color: #FFF; }
  .cm-gutters { background: var(--button-base); }
  .cm-content { background: var(--background); }
  .cm-gutters { border-color: var(--background-body); }
  .cm-tooltip,
  .cm-activeLineGutter { background: var(--background-alt); }
  .cm-activeLine { background-color: var(--background-body); }
  .cm-specialChar { color: #65B042; }
  .\00037Cb { color: #3387CC; }
  .\00037Cc { color: inherit; }
  .\00037Cd { color: #3387CC; }
  .\00037Ce { color: #65B042; }
  .\00037Cf { color: inherit; }
  .\00037Cg { color: inherit; }
  .\00037Ch { color: inherit; }
  .\00037Ci { color: #E28964; }
  .\00037Cj { color: #E28964; }
  .\00037Ck { color: inherit; }
  .\00037Cl { color: inherit; }
  .\00037Cm { color: #AEAEAE; }
  .\00037Cn { color: inherit; }
}
